/* fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* variables */
:root {
  /* colors */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-primary-100: hsl(333, 80%, 67%);
  --clr-neutral-900: hsl(303, 10%, 53%);
  --clr-neutral-100: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  /* typography */
  --fs-body: 15px;

  /* fonts */
  --ff-primary: "League Spartan", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* spacing */
  --spacer: 1rem;
  --spacer-sm: 0.5rem;
  --spacer-lg: 2rem;
  --spacer-xl: 3rem;
}
/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.4;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-neutral-900);
  background: var(--clr-white);
  background: url("./images/bg-pattern-top-mobile.svg") no-repeat top,
    url("./images/bg-pattern-bottom-mobile.svg") no-repeat bottom;
  background-size: contain;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Utility classes */

.text-accent {
  color: var(--clr-primary-100);
}

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}

.split {
  display: flex;
  flex-direction: column;
}

.split--row {
  flex-direction: row;
}

.mt {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 1rem;
}

/* general styles */

.social-proof {
  padding: var(--spacer-lg) var(--spacer);
  text-align: center;
  font-size: 1.1rem;
  & h1 {
    color: var(--clr-primary-900);
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
    line-height: 2rem;
  }
}

/* components */

.ratings__rating {
  gap: var(--spacer-sm);
  background: var(--clr-neutral-100);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: var(--spacer);
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  &__stars {
    margin: 0 auto;
    gap: var(--spacer-sm);
  }
}

.testimonials__testimonial {
  background: var(--clr-primary-900);
  border-radius: var(--spacer-sm);
  padding: var(--spacer-lg);
  margin-bottom: var(--spacer);
  color: var(--clr-white);
  text-align: left;
  & img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: var(--spacer);
  }
  & h2 {
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
  }
  & p {
    font-size: 1rem;
  }
}

@media (min-width: 60rem) {
  body {
    background: url("./images/bg-pattern-top-desktop.svg") no-repeat top,
      url("./images/bg-pattern-bottom-desktop.svg") no-repeat bottom;
  }
  .split {
    flex-direction: row;
  }

  .social-proof {
    margin-top: 5rem;
    padding: var(--spacer-lg) var(--spacer);
    text-align: left;
    & h1 {
      font-size: 3.25rem;
      letter-spacing: -0.1rem;
      line-height: 2.8rem;
    }
    &__header {
      justify-content: space-between;
      & header {
        max-width: 20rem;
      }
    }
  }
  .ratings__rating {
    gap: 2rem;
    padding: var(--spacer) var(--spacer-lg);
    width: 28rem;
    &__stars {
      margin: 0;
    }
  }
  .ratings__rating:nth-of-type(2) {
    margin-left: 3rem;
  }
  .ratings__rating:nth-of-type(3) {
    margin-left: 6rem;
  }
  .social-proof__testimonials {
    gap: var(--spacer-lg);
  }
  .testimonials__testimonial {
    height: 20%;
  }
  .testimonials__testimonial:nth-of-type(2) {
    margin-top: 2rem;
  }
  .testimonials__testimonial:nth-of-type(3) {
    margin-top: 4rem;
  }
}
